/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

h2 {
  @apply text-2xl font-semibold mb-3;
}

h3 {
  @apply text-lg font-semibold -mt-3 mb-3;
}

.btn {
  @apply disabled:text-opacity-60;
}

.btn-disabled {
  @apply !text-opacity-60;
}
