@tailwind base;
@tailwind components;
@tailwind utilities;

h2 {
	@apply mb-3 text-2xl font-semibold;
}

h3 {
	@apply -mt-3 mb-3 text-lg font-semibold;
}

.btn {
	@apply disabled:text-opacity-60;
}

.btn-disabled {
	@apply !text-opacity-60;
}
